body {
  margin: 0 auto;
  background-image: url(../images/logo.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.container{
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.6);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 150px;
}

.container img{
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: 30px;
}

input[type="text"],input[type="email"],input[type="password"]{
  height: 37px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-left: 40px;
}

.form-input::before{
  content: "\f007";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 5px;
  color: #9B59B6;
  padding-top: 5px;
  font-size: 35px;
}

.form-input:nth-child(4)::before{
  content: "\f023";
}

#eml::before{
  content: "\f064";
}

.btn-login{
  padding: 15px 25px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
}

.btn-login:hover{
  font-size: 14px;
}
